*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 1.3rem;
}

img {
    width: 100%;
    max-width: 100%;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1100px;
}

.hero {
    width: 100%;
    background: #23424a;
}

.hero-text {
    color: white;
    /* padding: 100px 0; */
    width: 50%;
}

.hero-img {
    align-self: flex-start;
    width: 40%;
}


.hero-text p {
    align-self: flex-start;
    padding-bottom: 3em;
    color: white;
}

.hero-text  h1 {
    margin-top: 0;
    font-weight: 900;
    font-size: 48px;
}


.button {
    background: #38CFD9;
    color: #072A2D;
    padding: 1em;
    border-radius: 2em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
}

.button:hover, .button:focus {
    opacity: .75;
}

.row {
    display: flex;
    /* align-items: flex-start; */
    /* gap: 1em; */
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
}

.row-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col, .col-flex {
    text-align: center;
    /* width: 100%; */
}

.col + .col {
    margin-left: 1em;
}

.three-col {
    background: #136C72;
    color: #ffffff;
    padding: 0.5rem 0.5rem;

}

.three-col p  {
    color: white;
}

.accent {
    color: #23424a;
    font-size: 36px;
    font-weight: bold;
}

header {
    background: #136c72;
}

.navigation {
    display: flex;
    
    padding: 1.5em;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-primary {
    margin: 0 auto;
}

.link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 0.75em;
}

.menu-item + .menu-item {
    margin-left: 1em;
}

.push-right {
    margin-left: auto;
}

.nav-btn {
    background: #ffffff;
    color: #136c72;
    padding: 0.25em 1em;
    border-radius: 10em;
    margin-left: .25em;
}

.link:hover {
    opacity: .75;
}

p {
    color: #3a3a3a;
}